In [39]:
import pandas as pd
import numpy as np

In [5]:
routes_df = pd.read_csv('routes.csv')
aircraft_df = pd.read_csv('aircraft_data_modified.csv')
planes_df = pd.read_csv('planes.dat.csv', header = None)

routes_df.head()

,airline,airline ID,source airport,source airport id,destination apirport,destination airport id,codeshare,stops,equipment
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2

In [6]:
aircraft_df.head()

  ICAO_code classification  pob_num
0      A002            G1P      3.0
1        A1            L1P      1.0
2       A10            L2J      1.0
3      A109            H2T      8.0
4      A119            H1T      9.0

In [7]:
planes_df.head()

     0                                             1    2     3
0  NaN                       Aerospatiale (Nord) 262  ND2  N262
1  0.0  Aerospatiale (Sud Aviation) Se.210 Caravelle  CRV  S210
2  1.0                  Aerospatiale SN.601 Corvette  NDC  S601
3  2.0                Aerospatiale/Alenia ATR 42-300  AT4  AT43
4  3.0                Aerospatiale/Alenia ATR 42-500  AT5  AT45

In [8]:
merged_aircraft_planes = pd.merge(aircraft_df, planes_df, left_on='ICAO_code', right_on=3)
merged_aircraft_planes.drop(columns=[3,0], inplace=True)

merged_aircraft_planes.columns=['long_plane_code', 'classification', 'capacity', 'plane_type', 'short_code']
merged_aircraft_planes.head()

  long_plane_code classification  capacity             plane_type short_code
0            A124            L4J      88.0  Antonov AN-124 Ruslan        A4F
1            A140            L2T      54.0         Antonov AN-140        A40
2            A148            L2J      80.0         Antonov An-148        A81
3            A158            L2J      99.0         Antonov An-158        A58
4            A19N            L2J     180.0         Airbus A319neo        31N

In [9]:
list(routes_df[' equipment'].unique())

['CR2',
 'A81',
 'AN4',
 '142',
 '142 141',
 '141',
 '143',
 '143 146',
 '142 146',
 '146',
 'CRJ',
 'E70 CRJ M87',
 'M87',
 'M87 CRJ',
 '319',
 '319 320',
 '320 319',
 '100',
 'ATP',
 'SF3',
 'ATP SF3',
 'ATR',
 'SF3 ATP',
 'BNI',
 'DH4',
 '320',
 '330',
 'DH3',
 'AT7',
 'CNC',
 'DHP',
 'DH8',
 'DHT BET',
 'DHT',
 '73M',
 'BET',
 'DHT DH8',
 'DH8 DHT',
 'DH8 BET',
 'BET DH8',
 '737',
 'SF3 ',
 'SH6',
 'SU9',
 '734',
 'SU9 73G',
 'AT5',
 'AT5 320',
 '321',
 '321 320',
 '321 320 330',
 '319 321',
 '321 319 320',
 '330 319',
 '330 321 320',
 '321 330',
 '320 321',
 '319 330',
 '319 321 320',
 '330 321',
 'PL2',
 'E70',
 'PAG',
 'YK2',
 '73G',
 'TU5',
 '73G TU5',
 'YK4',
 '313',
 '777',
 '777 763',
 '763',
 'CRJ 319',
 '319 CRJ',
 '319 320 CRJ',
 'CRJ 319 320',
 'CRJ 320',
 '320 319 CRJ',
 'PA2',
 'CN1',
 'CNA',
 'CNA DHT',
 'DH8 CRJ',
 'CRJ CNA',
 '320 ATR',
 'ATR 320 319',
 '319 320 330 ATR',
 'ATR 319',
 '320 ATR 319',
 '320 330',
 '330 320',
 '735',
 'AT7 319',
 '319 AT7',
 'DH8 73M',
 'AT4',
 'ATR AT4',
 '73M 733',
 'BE1 DH8',
 'DH8 BE1',
 'ATR FRJ AT4',
 'FRJ ATR',
 'FRJ',
 'ATR AT4 FRJ',
 'EMB SF3',
 'SF3 EMB',
 'BEH',
 '738 73G',
 '738',
 'TU3',
 'TU5 738',
 'TU3 AN4',
 'YK2 E90',
 'E90',
 'E90 YK2',
 '737 738',
 'AT7 73M',
 '73M 737',
 'AT4 AT7',
 '73M AT4',
 '73M AT7',
 'AT7 AT4',
 'BE1 CNC',
 'BE1',
 'CNA CNC',
 'CNC BE1',
 'CNC CNA',
 'PAG CNT',
 'CNT',
 'PAG CNC',
 'M83',
 'M83 F50',
 'F50 M83',
 'F50',
 '733',
 'MA6',
 '752',
 'D28 CNA',
 'D28',
 'CNA D28',
 '100 F50',
 'EM2',
 ' CNA',
 nan,
 'CNC PA2',
 'M82',
 '320 738 737',
 '321 319',
 '321 737',
 '737 321',
 '738 737 321',
 '738 737',
 '738 737 320',
 '737 767',
 'SF3 BE1',
 'BE1 SF3',
 '332 320',
 '320 319 332',
 '320 332',
 '332',
 '332 319',
 '737 747',
 'CR9 ',
 'CR9',
 'CRJ CR9',
 'CRJ CR9 ',
 'DH1',
 'D38 DH3',
 'BEH D38 DH3',
 'D38 BEH DH3',
 'BEH D38',
 'L4T',
 'ER4',
 'ER4 AT5 AT7',
 'AT7 BE1',
 'AT5 ER4 AT7',
 '320 E90',
 'E90 320',
 '732',
 '734 732',
 '738 73W',
 '73H 320',
 '73H',
 '73W 738 73H',
 '73G 738',
 '739 73H',
 '320 73H',
 '738 73W 73H 739',
 '73H 738',
 'AT7 738',
 '739 AT7 738',
 '73H 739',
 '738 73W 739 73H',
 '332 333',
 '739 73H 738',
 '77W',
 '738 73H',
 '73H 73G',
 '73W',
 '739',
 '772',
 '333 332',
 '333',
 'AT7 73H',
 '73W 738',
 '739 738 73H',
 '332 77W',
 '738 AT7',
 '333 738',
 'AT7 73W 739 738',
 '738 73H 73W',
 '73G 73W',
 'AT7 739 738 73H',
 '772 763',
 '736',
 '320 DH4 321',
 'DH4 320',
 '320 DH4',
 '321 DH4 320',
 'DH4 319',
 '321 320 DH4 319',
 '73W 73G',
 '320 321 DH4',
 'SWM',
 'ER4 CR7 E70',
 'CR7 CRK ER4',
 'CR7',
 'CR7 ER4',
 'ER4 AT5',
 'E70 E90 CR7',
 'E70 CR7 E90',
 'E90 E70',
 'E70 ER4',
 'AT7 ER4 CRJ',
 'ER4 CRJ CR7',
 'CRK',
 'ER4 CR7',
 'ER4 CRJ',
 'CRJ ER4',
 'ER4 AT7 CRJ',
 'AT5 CRJ',
 'CRK E70 ER4',
 'E90 CRK',
 'AT7 ER4 CRJ CR7',
 'CRK CR7',
 'CR7 CRK',
 'ER4 CRK',
 'E70 CRK ER4',
 'CR7 ER4 E70',
 'CRK AT7 ER4 CRJ CR7',
 'CRJ CR7',
 'CR9 CR7 CRJ',
 'ERD ER4 CRJ',
 'M83 M80',
 'CR7 CRJ',
 'E75',
 '321 320 319',
 '744',
 'ER4 ERD',
 'ER4 CRJ ERD',
 '340',
 'E75 CRJ E70',
 'ERD',
 '340 330',
 '320 767 321 319',
 '757',
 '320 321 319',
 '320 767',
 '319 320 CR9 321',
 'M80 319 M83',
 'CR7 E75',
 'E75 E90 319 CRJ E70',
 '757 319 320',
 '332 320 77W',
 'M80 738 M83',
 '738 M83',
 '787',
 '319 E90',
 'DH8 DH3',
 '320 319 321 767',
 'E75 ER4',
 '319 DH3 E90',
 'CRJ E70',
 'E75 CRJ',
 'M80 M83',
 '319 CR7',
 'ERD ER4 CR7 E75',
 '744 737',
 '757 763',
 '319 321 320 E90',
 '738 757',
 'E90 319',
 '777 744',
 '757 738',
 'E90 319 321 320',
 '320 319 321',
 'E70 CRJ',
 'CRJ ERD ER4',
 '319 320 321',
 '767',
 '320 319 737',
 'E70 CRJ E75',
 'CR7 ER4 E75',
 'CR9 CRJ',
 'E90 321 757 319 737 320',
 'E75 ER4 CR7',
 '757 763 738',
 '763 777',
 '763 757',
 '380',
 'CRJ DH8',
 'DH8 CRJ DH3',
 '319 CR7 DH8',
 'CR7 ER4 ERD',
 'E75 CRJ E70 CR9',
 'ER4 ERD CRJ',
 'CR7 CRJ CR9',
 '320 CR9 321 319',
 '319 320 737',
 '319 737 321 757 320 E90',
 'DH3 DH8',
 'DH8 319 CR7',
 'CR9 E75 CR7 CRJ E70',
 '321 320 737',
 '319 320 CRJ E90',
 'M80 321 319 M83 320 737 757',
 '321 320 737 319',
 '320 737 321 319',
 'DH8 CR9',
 '737 319 321 320',
 '319 737',
 '321 767 757 319',
 'CR7 319',
 '320 321 319 737',
 '319 320 E75 CR9',
 'DH8 CR7 CRJ',
 '321 320 CR9 E90',
 '767 E90 319 320 332 757 321 737',
 '757 321',
 '319 737 320 321',
 '319 757 321 320',
 '320 737 319 321 E90',
 'CR7 CR9 CRJ',
 'CR9 E75',
 '757 767',
 '757 319',
 'CR9 319 320',
 'CRJ E75 E70',
 'CR7 ERD',
 'ER4 CR7 ERD',
 '744 777',
 '773',
 '757 332 321 319',
 '757 320 321',
 'M83 319 M80',
 'ERD CRJ E70',
 '738 M80',
 'CRJ E70 E75',
 'DH3 CRJ',
 'E70 E75 CRJ',
 'E70 E75',
 '738 M83 M80',
 'E75 E70',
 '319 320 DH3',
 '320 757',
 'CRJ E75',
 'ERD CRJ',
 'ERD CRJ ER4',
 'CRJ ER4 ERD',
 'M83 M80 319',
 'M80 M83 738',
 '738 M80 M83',
 'ERD ER4',
 '321 319 M80 M83 320 737 757',
 '319 M80 M83',
 'M80 319',
 'M80',
 '738 M80 M83 757',
 '738 763 757 M83',
 '77W 777',
 '738 763 757',
 '738 320 319 M83 M80 E90 757',
 '321 738 M80 319 M83 320',
 'M83 738',
 'M80 M83 319',
 '738 757 763',
 'M83 757 M80 738',
 '763 737',
 'E75 ERD ER4',
 'M83 M80 738',
 'E75 ERD ER4 CR7',
 '320 E90 319',
 '767 320 321',
 '777 787',
 'E75 CR7',
 '321 767 319 320',
 '319 321 320 737',
 '320 767 319',
 '332 767',
 '77W 777 773',
 '773 777',
 '773 744',
 '787 777',
 'CR7 CR9',
 '321 737 319 320',
 '319 CR9',
 'E75 ER4 ERD CR7',
 '773 737',
 '773 77W 777',
 '32B 762',
 '318',
 '777 77W',
 '330 757 340',
 '787 773',
 'ERD CR7',
 '32B 763',
 '380 744',
 'M80 738 M83 757',
 '757 777 763 738',
 '777 773',
 'E90 DH3 319',
 '346 77W 320',
 '321 319 767 320',
 '767 320',
 '319 320 321 767',
 '767 321 320 319',
 '787 744',
 '757 330 340',
 '763 330 340',
 '738 763',
 'E75 ER4 CR7 ERD',
 'E75 E70 CRJ',
 '321 757 767 319',
 '738 M83 M80 757',
 '321 767 757 320 332',
 '319 CR7 CRJ',
 '330 737',
 '737 763',
 '763 757 738',
 '777 763 757 738',
 '330 763 340',
 '763 738',
 '320 738 321 757',
 'CRJ CR7 CR9',
 '319 320 E75 CR9 E70',
 'E75 E70 319',
 '319 E90 E75',
 'DH8 CR7 CR9',
 '737 773',
 '773 787',
 'DH8 CR7',
 'ER4 E75',
 'ER4 ERD CR7 E75',
 'ER4 CR7 E75',
 '321 320 E90 319',
 'ERD ER4 E75',
 'ERD E75 ER4 CR7',
 'ER4 ERD E75 CR7',
 'ER4 CR7 E75 ERD',
 'M83 738 M80',
 '320 321 319 E90',
 '321 738 M83 320 M80',
 'E75 CR7 ER4',
 'M80 738',
 'CR7 E75 ER4',
 '737 320 319',
 'DH4 737',
 '737 DH4',
 'E90 319 CRJ',
 'DH3 E90',
 'DH3 319 E90',
 'CRJ E70 CR9 E75',
 '757 321 E90 737 767 332 319 320',
 'CRJ DH3 319 E90',
 'M83 319 320 738 M80 E90 757',
 'E90 320 319',
 'DH3 E90 319',
 '767 321 757 320 332',
 '738 321 757 320',
 '320 319 321 E90',
 '321 757',
 '319 E90 320',
 '319 332 320',
 'E90 DH3',
 '767 757 320',
 '321 320 319 737',
 '757 320 319',
 'M80 M83 319 738 321 320',
 'M83 320 321 738',
 '320 319 757 321',
 '319 737 321 320',
 '320 319 E90',
 '321 320 737 319 E90',
 'CRJ ERD',
 'M83 M80 738 757',
 '763 32B',
 '757 767 320',
 '744 380',
 '330 763',
 '737 321 319 320',
 '738 321 332',
 '332 321',
 '320 738 321',
 '738 320',
 '320 738',
 '321 332',
 '320 73G',
 '321 738 320 319',
 '320 333 346',
 '346 345 333',
 '320 321 738',
 '738 321',
 '738 320 321',
 '321 73G 738',
 '733 319',
 '320 738 319',
 '73G 319',
 '321 738',
 '332 738 320',
 '73G 738 321 320 319',
 '319 320 DH4 738',
 '738 319 73G',
 '321 738 320',
 '321 320 738',
 'DH4 319 73G',
 '738 332 321',
 'DH4 319 738 320',
 '320 319 DH4 738',
 '738 321 320',
 '738 332',
 '321 738 332',
 '738 32A 321',
 '320 738 319 321 DH4',
 '73G 738 320',
 '319 320 738',
 '738 319',
 '332 738 321 320',
 '332 738 321',
 '738 319 320 73G 321 DH4',
 '738 321 E90 320 319',
 '738 319 320 73G',
 '320 738 73G',
 '320 321 73G',
 '73G 319 DH4',
 'E70 E90 AR8',
 '32A',
 '320 321 332',
 '735 DH4 73C',
 '320 738 73G 319 DH4',
 'DH4 73G',
 '73G DH4',
 'E90 319 E70',
 '320 738 332 319',
 'DH4 735 73C',
 '320 E90 321',
 '319 320 E90',
 '321 320 E90',
 '767 319 320',
 '32A 738 321',
 '738 320 319 321 DH4',
 '73C DH4 735',
 '738 321 320 319 73G',
 '738 73G 320',
 '738 320 319',
 '738 332 320',
 '332 321 738 320',
 '321 320 332',
 '738 320 332 319',
 '738 320 73G',
 '738 320 332 321',
 'DH4 735',
 '73G 320',
 '321 332 738 320',
 '738 320 73G 321 DH4 319',
 '738 320 321 319',
 '321 738 73G 320 319',
 '319 73G 738',
 '738 319 73G 320 321 DH4',
 '738 73G 319 320 DH4',
 '319 DH4 73G',
 '321 738 320 319 73G',
 '319 DH4',
 '320 738 73G 321 DH4 319',
 '738 319 321 320 73G',
 '321 738 E90 320 319',
 'E90 320 321',
 '321 E90 320',
 '319 738 320 73G',
 '319 738 321 320 73G',
 'EMB',
 'CRA CRJ',
 '333 777',
 'CRJ DH3',
 'E90 E75',
 '738 739',
 'CRJ 319 E70',
 '319 320 CR7 738',
 'ERJ',
 'CRJ 738 320 739',
 'CRJ BEH',
 '319 E70 320 738',
 'E75 E90',
 '77L',
 'ERJ CR7 738 E70 739',
 'ERJ CRJ',
 'ERJ CRJ CR7',
 'CR7 320 73G 738 E70 ERJ 319',
 '738 320 737 319',
 'CRA 738 320 739',
 'CRA',
 '763 77W',
 '763 319',
 '77L 763 77W 333',
 '320 738 ERJ',
 '738 ERJ 320 319',
 '320 E70 319 CR7',
 '319 738 73G 320 ERJ',
 '320 CR7 319 ERJ',
 'E95',
 '320 CR7 ERJ 319',
 'E70 CR7',
 'ERJ E70',
 '319 320 739 737 738',
 'CR7 737',
 '330 77W',
 '788',
 'CRJ DH1',
 'CR7 CRJ 319 E70',
 'DH4 CRJ DH3',
 'DH1 DH4',
 'DH3 DH1',
 'DH1 DH3',
 'DH1 CRJ',
 'CRJ CRA',
 '320 E90 319 E75',
 'E90 320 763 319',
 'CRA DH4 CRJ',
 '320 763',
 '320 319 E90 763 E75',
 'DH4 DH1 DH3',
 'DH4 CRJ',
 'CRJ DH4',
 'DH3 DH4',
 'CR7 ERJ CRJ',
 'DH4 DH1',
 '320 E90 E75 319',
 'DH3 DH1 DH4',
 '321 320 333 319',
 'E90 319 320',
 '321 320 319 333 763 E75',
 '320 319 CR7 737 739',
 '320 319 738 737',
 '77W 330',
 '333 320 321',
 '320 319 77L 321 77W 763',
 'CRJ ERJ',
 'CRJ 738 737 CR7',
 '738 CRA 320 739',
 '737 CR7 738 320',
 'DH3 CRJ DH4',
 'DH4 CRJ CRA',
 'E90 320 319 321',
 '321 320 319 E90',
 'BEH CRJ',
 'CRJ ERJ CR7',
 '77W 763',
 '763 77L 77W 333',
 '320 E90 319 763',
 'E90 319 320 763 E75',
 '319 321 320 E90 333 763 E75',
 '321 320 77W 763 77L 319 333',
 'E95 AT7',
 'E95 E90',
 'AT7 E95',
 'AT7 E75',
 'E90 E95',
 'E90 AT7',
 'E95 E90 E75',
 'AT7 E90',
 'E90 E95 AT7',
 'AT4 E95',
 'E95 E90 AT7',
 'E90 AT7 E95',
 'E95 AT7 E90',
 'E95 AT4',
 'AT7 E90 E95',
 'AT7 E95 E90',
 '738 333',
 '320 738 333',
 '738 E90',
 '320 333 343',
 '320 321 744',
 '320 333',
 '343 738 333',
 '738 343 333',
 '757 320',
 'CRJ 717',
 '320 AT7',
 'CR9 M88',
 'E90 73W F70',
 'F70 E90',
 '321 320 319 318 32A',
 'AR8',
 'F70',
 '73W E90 73H',
 '320 321 32A 319',
 '32A 319 320 321',
 '717',
 'CRJ M88 717',
 'M88',
 'M90 M88',
 'CRJ M88',
 'M88 73W',
 'M88 319 738 73H 717 320',
 'M90 757 320 738 319',
 '76W',
 'CR7 CRJ 319 CR9',
 'M90 757 320',
 'M88 CRJ 319 717',
 '77W 744 772 74Y',
 '320 M88 73W 717 319',
 '717 CR9',
 'M90 M88 319',
 '73W M88 738',
 '738 M88 319',
 'M90',
 'M88 M90 320',
 'M90 757 738',
 'M88 319',
 'M88 M90 757',
 '717 M88',
 '73W CR7',
 'CRJ 73W',
 '757 M90',
 '764',
 'CR9 717 CR7',
 'M88 CR7 CRJ',
 'M88 320',
 'M88 320 319',
 'CR7 319 M88 717 CRJ',
 '717 M88 CRJ',
 '320 M88',
 'M88 717 320 319',
 '320 M88 M90',
 '717 CR9 M88 CRJ',
 '319 752 M88 738',
 '757 753',
 '76W 763 757 739',
 'CR9 M88 CRJ 717',
 '757 739',
 '764 77L 76W',
 '319 717 320',
 '73W 73H',
 'CR9 CR7',
 'CR9 717 CR7 319 CRJ',
 '320 73W CR9',
 '320 M90 757',
 'M90 M88 757',
 'CR7 M88',
 'M88 M90',
 '757 319 320 M88 M90',
 'M90 757',
 '320 M90 757 73H M88',
 '757 73H 739 738',
 'M88 CR9',
 'M88 739 320',
 '73H M90 M88',
 '739 763',
 '757 M90 320',
 '717 M88 319',
 '757 763 739',
 '763 739 757',
 '757 763 320',
 'M90 717 757 319 M88',
 'CRJ M88 319',
 '739 757',
 'CR9 CR7 M88',
 'CRJ CR7 717 CR9',
 '319 M88 717',
 'CRJ CR9 717 CR7',
 '346',
 '321 32A 318 320',
 '318 321',
 '319 CRK',
 '772 343',
 'E70 E90',
 'CRK 319 321 320',
 '343',
 'M88 319 320 717',
 '321 320 32A 318',
 '757 M90 M88',
 'CR9 CRJ CR7',
 '318 321 320 319',
 'M88 M90 73W 717',
 'CRJ M88 319 717',
 '332 343',
 '321 772',
 '32A 320',
 '319 32A 320 321',
 '77W 744 772',
 '343 332',
 '318 319 320',
 '318 320',
 '320 321 319 32A',
 '77W 332',
 '772 77W',
 '319 321 320 318',
 'E70 AR8',
 '318 321 320 32A',
 'E90 321 320 32B 319',
 '77W 772',
 '388 77W',
 '332 772 388 343',
 '388',
 '388 772',
 '318 320 319 32A 321',
 '318 320 319 321',
 'ER4 DH4',
 '320 319 318',
 '320 321 318 32A 319',
 '318 319 320 32A',
 '32A 319 318 321 320',
 '319 318 320 32A 321',
 '318 320 321 319',
 '388 788 77W',
 '321 318 319 320',
 '321 320 32A',
 '77W 388 772',
 '733 735 73C',
 'E90 AR8 E70',
 '318 320 319 32A',
 '320 318 319 32A 321',
 '318 319 320 321',
 '744 343',
 'AT7 CRK',
 'M88 73W 319',
 'M88 738 319',
 '757 320 M88',
 'M88 738 320 319',
 '319 M88',
 '738 M90 M88',
 '757 M90 738',
 '332 330',
 'CR7 M88 CR9',
 'M88 73H 320 738 739',
 '76W 77L',
 '717 M88 CR9',
 '717 319',
 '319 32S E75 321 E90',
 'AT5 32A 320',
 '717 M88 319 320',
 'M88 CR7 319 717 CRJ',
 '321 319 320 318',
 '321 318 320 32A',
 '321 320 32B E90 319',
 '763 332 330',
 '717 M88 CR7 CRJ',
 '320 M88 319',
 'M88 717 319',
 'M88 320 M90',
 '319 738 752',
 '764 76W',
 '739 738 757',
 '763 757 76W',
 'AR8 F50',
 'F50 AR8',
 'M88 757',
 '76W 764',
 '320 32S 319',
 '319 318 320 321',
 '738 E90 763',
 '763 E90',
 '319 320 CRK',
 'DH4 F70',
 '321 320 318 32A 319',
 'E75 DH4',
 '757 M88',
 '320 319 717',
 '74Y',
 'M88 757 M90 73H',
 'CR7 717 CR9 CRJ',
 '320 318 319 32A',
 '321 319 CRK',
 '319 32A 318 321 320',
 '343 AT7 319 332',
 'CR7 320 CR9',
 '320 757 M88',
 'E75 CR9',
 '753',
 'M90 757 M88',
 '320 319 318 32A 321',
 '717 CR9 319',
 'E90 73W 73H',
 '320 318 321 319',
 '77W 788 388',
 'M88 M90 319',
 'CRK 319',
 '319 321 CRK 320',
 'CRK AT7',
 'E90 738',
 '319 CRK 321',
 'M90 320 738 73H',
 'M88 CR9 717',
 '32A AT5 320',
 '772 77W 388',
 '752 M88 M90 739',
 'M90 M88 73H',
 '319 343 AT7 332',
 '73H 763 739',
 '757 320 M90',
 '739 76W 757',
 '73H 753 757',
 'M90 717 M88',
 '319 M88 CRJ 717',
 'CRJ 717 CR7 CR9',
 '772 777',
 '717 319 M88',
 'CRJ CR9 CR7',
 '738 ATR 736',
 '736 ATR',
 'ATR 736 738',
 'ATR 738',
 '736 738',
 '738 ATR',
 '330 736 738',
 'ATR 736 738 767',
 '736 330',
 '330 738',
 '738 ATR 767 736',
 '738 736',
 'ATR 736',
 '736 ATR 738 767',
 '767 736',
 '736 330 738',
 '321 320 77W',
 '321 788 320',
 '320 788',
 '74H',
 '321 319 77W 788',
 '319 744',
 '319 332',
 '321 788',
 'ATR 319 320',
 'CR7 ATR',
 '788 321 320',
 'CR7 319 320',
 '788 320',
 '788 321 77W 319',
 '320 321 319 77W',
 '788 77W',
 '332 321 320 319',
 '77W 77L',
 '321 320 319 77W',
 '333 772',
 '321 320 332 319',
 '737 ERJ E70 EMJ E75',
 'E75 EMJ ERJ E70',
 'M90 757 738 M88 320 319',
 'M90 757 320 M88',
 'M88 757 320',
 'M90 738 757',
 '738 319 73H',
 '757 M88 739 73H 320 73W',
 '73W 738 73H EMJ',
 '320 757 M90 739',
 '757 M88 M90 73H',
 'M88 738 M90 739 320',
 '739 763 757 738',
 'M90 717 319 M88',
 '73W M88',
 'EMJ E70 ERJ',
 'EMJ',
 '757 M90 M88 320',
 'M88 757 73W 320',
 '737 EMJ E70 ERJ',
 'EMJ E70',
 'EMJ 737',
 '738 737 762 EMJ 763 787',
 '737 EMJ',
 '738 M90 M88 73H',
 'M90 738',
 'EMJ ERJ',
 '73H 757 739',
 '777 763 762',
 '737 EMJ E70 E75 738 ERJ',
 '752 319 757 738',
 '738 787',
 '739 320 73H',
 '73J 734',
 'M88 757 738',
 '763 787',
 '763 738 762',
 '777 787 762',
 '757 M88 M90',
 '757 753 763',
 'ERJ 737 EMJ E70 E75',
 'EMJ ERJ E75 E70',
 '73H 73W 738 EMJ',
 'E70 EMJ ERJ',
 '762 737 738 EMJ 763 787',
 ...]

In [10]:
routes_df.columns = ['airline', 'airline_ID', 'source_airport', 'source_airport_ID', 'destination_airport', 'destination_airport_ID','codeshare', 'stops', 'short_plane_code']
routes_df.head()

,airline,airline_ID,source_airport,source_airport_ID,destination_airport,destination_airport_ID,codeshare,stops,short_plane_code
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2

In [11]:
routes_df['short_code'] = routes_df['short_plane_code'].str.split().str[-1].str[-3:]

routes_df.head()

,airline,airline_ID,source_airport,source_airport_ID,destination_airport,destination_airport_ID,codeshare,stops,short_plane_code,short_code
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2,CR2
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2,CR2
4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2,CR2

In [12]:
list(routes_df['short_code'].unique())

['CR2',
 'A81',
 'AN4',
 '142',
 '141',
 '143',
 '146',
 'CRJ',
 'M87',
 '319',
 '320',
 '100',
 'ATP',
 'SF3',
 'ATR',
 'BNI',
 'DH4',
 '330',
 'DH3',
 'AT7',
 'CNC',
 'DHP',
 'DH8',
 'BET',
 'DHT',
 '73M',
 '737',
 'SH6',
 'SU9',
 '734',
 '73G',
 'AT5',
 '321',
 'PL2',
 'E70',
 'PAG',
 'YK2',
 'TU5',
 'YK4',
 '313',
 '777',
 '763',
 'PA2',
 'CN1',
 'CNA',
 '735',
 'AT4',
 '733',
 'BE1',
 'FRJ',
 'EMB',
 'BEH',
 '738',
 'TU3',
 'E90',
 'CNT',
 'M83',
 'F50',
 'MA6',
 '752',
 'D28',
 'EM2',
 nan,
 'M82',
 '767',
 '332',
 '747',
 'CR9',
 'DH1',
 'D38',
 'L4T',
 'ER4',
 '732',
 '73W',
 '73H',
 '739',
 '333',
 '77W',
 '772',
 '736',
 'SWM',
 'CR7',
 'CRK',
 'M80',
 'E75',
 '744',
 'ERD',
 '340',
 '757',
 '787',
 '380',
 '773',
 '762',
 '318',
 '32B',
 '346',
 'AR8',
 '32A',
 '73C',
 'ERJ',
 '77L',
 'CRA',
 'E95',
 '788',
 '343',
 '717',
 'M88',
 'F70',
 '76W',
 '74Y',
 'M90',
 '764',
 '753',
 '388',
 '74H',
 'EMJ',
 '73J',
 '32S',
 '73Q',
 'AR1',
 '75W',
 'J31',
 'S20',
 'F28',
 '74E',
 '74N',
 '342',
 'ARJ',
 'D1C',
 'YN7',
 'ER3',
 'IL9',
 'A58',
 'T20',
 '74M',
 '310',
 'AB6',
 'M11',
 '345',
 '75T',
 'BH2',
 'NDE',
 'DH7',
 'J41',
 'BNT',
 'BEC',
 'CNJ',
 'J32',
 'I14',
 'AB4',
 '74L',
 'PA1',
 'S76',
 'BE9',
 'DH2',
 'M1F',
 'DHL',
 'A40',
 'YN2',
 '76F',
 'CN2',
 'SFB',
 '73R',
 '73N',
 'D93',
 '77X',
 'DC9',
 '33X',
 '32C']

In [35]:
final_df = pd.merge(routes_df, merged_aircraft_planes[['short_code', 'capacity']], how='left', on='short_code')

print(final_df)

      airline airline_ID source_airport source_airport_ID destination_airport  \
0          2B        410            AER              2965                 KZN
1          2B        410            ASF              2966                 KZN
2          2B        410            ASF              2966                 MRV
3          2B        410            CEK              2968                 KZN
4          2B        410            CEK              2968                 OVB
...       ...        ...            ...               ...                 ...
67778      ZL       4178            WYA              6334                 ADL
67779      ZM      19016            DME              4029                 FRU
67780      ZM      19016            FRU              2912                 DME
67781      ZM      19016            FRU              2912                 OSS
67782      ZM      19016            OSS              2913                 FRU

      destination_airport_ID codeshare  stops short_plane_code short_code  \
0                       2990       NaN      0              CR2        CR2
1                       2990       NaN      0              CR2        CR2
2                       2962       NaN      0              CR2        CR2
3                       2990       NaN      0              CR2        CR2
4                       4078       NaN      0              CR2        CR2
...                      ...       ...    ...              ...        ...
67778                   3341       NaN      0              SF3        SF3
67779                   2912       NaN      0              734        734
67780                   4029       NaN      0              734        734
67781                   2913       NaN      0              734        734
67782                   2912       NaN      0              734        734

       capacity
0          53.0
1          53.0
2          53.0
3          53.0
4          53.0
...         ...
67778      37.0
67779     188.0
67780     188.0
67781     188.0
67782     188.0

[67783 rows x 11 columns]

In [25]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67783 entries, 0 to 67782
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   airline                 67783 non-null  object
 1   airline_ID              67783 non-null  object
 2   source_airport          67783 non-null  object
 3   source_airport_ID       67783 non-null  object
 4   destination_airport     67783 non-null  object
 5   destination_airport_ID  67783 non-null  object
 6   codeshare               14633 non-null  object
 7   stops                   67783 non-null  int64
 8   short_plane_code        67765 non-null  object
 9   short_code              67765 non-null  object
 10  capacity                51606 non-null  float64
dtypes: float64(1), int64(1), object(9)
memory usage: 6.2+ MB

In [22]:
(final_df['capacity'].value_counts())

179.0    11658
189.0     8799
142.0     5322
212.0     2082
50.0      2030
         ...
109.0        6
93.0         4
5.0          4
410.0        4
64.0         1
Name: capacity, Length: 76, dtype: int64

In [41]:
capacity_inserts = {
    '146': 27,
    'CRJ': 70,
    '330': 260,
    'CNC': 12,
    'DH8': 40,
    'BET': 10,
    '73M': 149,
    '737': 189,
    'YK2': 104,
    'YK4': 25,
    '313': 200,
    '777': 375,
    'CNA': 7,
    'BE1': 10,
    'CNT': 10,
    'MA6': 65
}

capacities = []

final_df.dropna(subset='short_code', inplace=True)

final_df['capacity'].fillna(0, inplace=True)
count = 0

for row in final_df.iterrows():
    if row[1]['capacity'] != 0:
        capacities.append(row[1]['capacity'])
        count += 1
    else:
        try:
            capacities.append(capacity_inserts[row[1]['short_code']])
        except:
            capacities.append(np.median(final_df['capacity'].dropna()))
        count += 1

        
print(count)

67765

In [42]:
final_df['capacity'] = capacities

In [43]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67765 entries, 0 to 67782
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   airline                 67765 non-null  object
 1   airline_ID              67765 non-null  object
 2   source_airport          67765 non-null  object
 3   source_airport_ID       67765 non-null  object
 4   destination_airport     67765 non-null  object
 5   destination_airport_ID  67765 non-null  object
 6   codeshare               14633 non-null  object
 7   stops                   67765 non-null  int64
 8   short_plane_code        67765 non-null  object
 9   short_code              67765 non-null  object
 10  capacity                67765 non-null  float64
dtypes: float64(1), int64(1), object(9)
memory usage: 6.2+ MB

In [45]:
final_df.to_csv('routes_w_capacities.csv', index=False)

In [15]:
# capacities = []

# for route in routes_df.iterrows():
#     short = route[1]['short_plane_code'].split(' ')
    
#     if len(short) - 1:
#         max_cap = 0
#         model = ''
#         for plane in short:
#             data = merged_aircraft_planes[merged_aircraft_planes['short_plane_code']==plane]
#             if len(data):
#                 if data[0]['capacity'] > max_cap:
#                     max_cap = data[0]['capacity']
#                     model = data[0]['short_plane_code']
#         capacities.append(max_cap)
    
#     else:
#         data = merged_aircraft_planes[merged_aircraft_planes['short_plane_code']==plane]
#         if len(data):
#             capacities.append(data[0]['capacity'])